.card {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 30px;
  min-width: 325px;
  min-height: 150px;
}

.card-title {
  background: #212121;
  border-radius: 30px;
  order: -1;
  box-shadow: 0, 3px, 6px, rgba(0, 0, 0, 0.2)
}

.card-title > h1 {
  color: white;
  margin: auto;
  font-family: Lato, sans-serif;
  font-size: 20px;
}

.card-body {
  padding-top: 20px;
  padding-left: 30px;
  font-size: 15px;
  display: flex;
  flex-flow: column wrap;
  flex-grow: 1;
  align-content: space-around;
  justify-content: flex-end;
}