.card-device {
  width: 325px;
}

.card-title > input {
  float: left;
  color: white;
  background: #212121;
  border: 0;
  border-radius: 30px;
  font-size: 20px;
  font-weight: bold;
  padding-left: 15px;
  padding-top: 17px;
  padding-bottom: 17px;
}

.card-body-action {
  float: right;
  padding-right: 15px;
  padding-bottom: 15px;
  outline: none;
  color: black;
  user-select: none;
  order: 10;
}

.card-footer {
  align-self: flex-end;
}

.card-body-action:hover {
  cursor: pointer;
  transform: translateY(-2px);
}

.card-body-action:active {
  transform: translateY(1px);
}
