.card-device {
  width: 325px; 
}

.card-body{
  padding-bottom: 8%;
  padding-right: 5px;
}

.card-body-device {
  font-size: 15px;
  align-content: space-around;
  justify-content: flex-end;
  height: 180px;
  overflow: auto;
}

.card-body-action {
  padding-right: 15px;
  padding-bottom: 15px;
  outline: none;
  color: black;
  user-select: none;
  order: 10;
}

.card-footer {
  display: flex;
  justify-content: flex-end;
}

.card-body-action:hover {
  cursor: pointer;
  transform: translateY(-2px);
}

.card-body-action:active {
  transform: translateY(1px);
}

.separator{
  margin-right: 8%;
  margin-left: 8%;
  height: .05rem;
  background-color: #212121;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: #ddd;
}

::-webkit-scrollbar-thumb {
  background: #262626;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}